.menu{
  display:flex;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 20px;
  z-index: 999;
  background-color: rgb(47, 0, 92);
   box-shadow: 0px 3px 20px white;
}


.s1{
  background-color: aliceblue;
  color: black;
  height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left{
  background-color: blueviolet;
  height: 400px;
  border-radius: 100%;
  overflow:hidden;
  box-shadow: 0px 3px 20px white;
}

.imgPerfil{
  width: 400px;
  height: 400px;
  transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
  transform: scale(1.1);
}
.right{

  width: 500px;
}

.title{
font-size: 36px;
font-weight: bold;
}

.paragraph{
  font-size: 22px;

}
.rodape{
 width: 100%;
 display:flex;
 gap:20px;
 align-items: center;
 justify-content: center;
 background-color: al;
 border-top: 2px solid purple;
}

.rodape a{
  transition: all 500ms ease-in-out;
  border-radius: 999px;
  overflow: hidden;
  
}

.rodape a:hover{
  transform: translate(-15px) scale(1.3);
  
}

.s4{
  background-color: rgb(250, 240, 227);
  color:black;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  height: auto;
  padding: 50px;
  gap: 50px;
}

.s4 h2{
  color: rgb(64, 0, 124);
  font-size: 56px;
  letter-spacing: 10px;
  font-weight: bold;
}

.formData{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid rgb(78, 0, 78);
  box-shadow: 0px 3px 20px rgb(0, 0, 0);
  padding: 20px;
}

.formData label{
  text-align: left;
  width: 100%;
  margin-bottom: -9px;
}

.formData input{
  padding: 10px;
  width: 100%;
  border-radius:5px;
  border: none;
  border: 2px solid rgb(92, 0, 92);
}

.formData textarea{
  width: 300px;
  height: 70px;

}

.formData button:hover{

}


@media (width <=768px){

    .s1 {
      padding-top: 50px;
      gap:0;
    }

    .left{
      width:300px;
      height: 300px;
    }

    .imgPerfil{
      width: 300px;
      height: 300px;
    }

    .right{
      padding: 20px;
      margin-top: -150px;
    }
  .s4 h2{
    
  }

}